<th:block xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: email(~{::content}, '')}">
 <th:block th:fragment="content">
 <p th:text="${greeting}">Hello User,</p>
 <div class="alert-box alert-success">
 <strong th:text="${successTitle}">Email Changed</strong>
 <p style="margin-bottom: 0;" th:text="${successBody}">Your email has been changed.</p>
 </div>
 <div class="alert-box alert-danger">
 <strong><span th:text="${warningTitle}">Wasn't you?</span></strong>
 <p style="margin-bottom: 0;" th:text="${warningBody}">If you didn't make this change, click below to revert it.</p>
 </div>
 <div class="button-center">
 <a th:href="${revertUrl}" class="button" style="background: #ef4444;" th:text="${revertButtonText}">Revert Email Change</a>
 </div>
 <p class="small-text" th:text="${revertExpires}">This revert link expires in 48 hours.</p>
 <hr class="divider"/>
 <p class="small-text" th:text="${fallbackText}">If the button doesn't work, copy this link:</p>
 <p class="small-text" style="word-break: break-all;" th:text="${revertUrl}">https://catananti.dev/auth/revert-email-change?token=abc</p>
 </th:block>
</th:block>
