apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: vault
  labels:
    app: vault
  # F-426: TODO: Replace NodePort with ClusterIP + Ingress to restrict external access
  # F-438: TODO: Add PodDisruptionBudget when scaling to HA (minAvailable: 1)
  # F-439: TODO: Add NetworkPolicy to restrict vault namespace ingress/egress
spec:
  type: NodePort
  selector:
    app: vault
  ports:
    - name: http
      port: 8200
      targetPort: 8200
      nodePort: 30820
    - name: cluster
      port: 8201
      targetPort: 8201
